@font-face{
	font-family: 'Open Sans Light Cond';
	src:  url(fonts/OpenSans-CondLight-webfont.woff) format('woff');
}
body 
{
	text-align: center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background: #313131;
}
#main
{
	width: 1024px;

	text-align:center;
	margin: 0px auto 0px auto;
	padding:0px 0px 0px 0px;

	position:relative;
}
#slideshow {
    width: inherit;
    position:relative;
	

}
#slideshow IMG {
	width:1024px;
	height:680px;
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    opacity:0;
}
#slideshow IMG.active {
    z-index:3;
    opacity:1;
}
#slideshow IMG.last-active {
    z-index:2;
}
#top
{
	position:absolute;
	text-align:left;
	top:30px;
	left:55px;
	z-index:4;
}


#top span.primary
{
	padding: 0px 10px 0px 8px;
	background:url(images/span-bluebg.png);
	font-family:Open Sans Light Cond;
	font-size:40px;
	font-weight:bold;
	color:#fff;
	display:inline-block;
	text-align:left;	
}
#top span.secondary
{
	padding: 4px 0px 0px 8px;
	font-family:Open Sans Light Cond;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	text-align:left;
	display:block;
}


#menu
{
	width: 915px;
	height: 45px;
	background:url(images/menu-blackbg.png) repeat;
	padding:0px 0px 0px 0px;
	margin:0px 0px 20px 0px;
	text-align:left;

}


#menu ul 
{
	list-style:none;
	padding:0px 0px 0px 2px;
	margin:0px 0px 0px 0px;
 }
#menu ul li {
	height:45px;
	display:inline-block;
}

#menu ul li a
{

	text-decoration: none;
	font-family:Open Sans Light Cond;
	color:#fff;
	font-size:15px;	
	font-weight: bold;
	padding: 14px 10px 13px 10px;
	display: block;
				
}


/* specific to non IE browsers */
#menu ul li:hover a { 

background:url(images/menu-bluebg.png) repeat;

	
	
	
 }
#menu ul li:hover ul, #menu ul li ul {
display:block; 
position:absolute; 
width:200px;
background:url(images/menu-bluebg.png) repeat;
padding:0px 0px 0px 0px;
}
/*.menu ul li:hover ul li a.hide {background:#6a3; color:#fff; }*/
#menu ul li ul {
display: none;
 }
/*.menu ul li:hover ul li:hover a.hide {background:#fff; color:#000;  }
.menu ul li:hover ul li ul {display: none;}*/
#menu ul li:hover ul li {
height: 45px; 
width:200px; 
display:block;  

 }
#menu ul li:hover ul li:hover{
background:url(images/menu-hover-bluebg.png) repeat;
}
#menu ul li:hover ul li a {
color: #fff;
font-family:Open Sans Light Cond;
font-size: 12px;
padding: 16px 0px 14px 10px;  
margin: 0px 0px 0px 0px; 
background: none; 
text-decoration:none;
}
#menu ul li:hover ul li a:hover {
}
#bottom
{
	position:absolute;
	text-align:left;
	top:470px;
	left:55px;
	z-index:4;
	width:915px;
}
.slidebox{
	height:180px;
	width:560px;
	position:absolute;
	top:0px;
	left:0px;
border-left: 1px #ddd solid;
	border-right: 1px #ddd solid;
	background:#fff;
	border-bottom: 3px #ccc solid;
}
.slidebox .header{
background:url(images/menu-bluebg.png) repeat;
border-top:solid 1px #82a1d0;
border-left:solid 10px #82a1d0;
height:50px;
width:551px;
position:absolute;
}
.slidebox .slide{
position:absolute;}
.slidebox .slide a{
text-decoration:none;}

.slidebox span{

	color: #fff;
font-family:Open Sans Light Cond;
font-size: 20px;
padding: 14px 0px 14px 22px;  
margin: 0px 0px 0px 0px; 
display:block;
font-weight:bold;
}

.slidebox p{
height:100px;
overflow:hidden;
	color: #444;
font-family:Helvetica;
font-size: 13px;
padding: 14px 20px 0px 20px;
text-align:justify;  
margin: 0px 0px 0px 0px; 
display:block;
line-height:17px;}
.slidebox IMG
{
	height:100px;
	float:right;
	padding:0px 0px 0px 8px;
}
.tabs{
	width:300px;
	position:absolute;
	top:0px;
	right:0px;
}
.tabs ul {
background:url(images/menu-bluebg.png) repeat;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
list-style:none;
 }
.tabs ul li {
height: 45px; 
}
.tabs ul li:hover{
background:url(images/menu-hover-bluebg.png) repeat;
}
.tabs ul li a {
color: #fff;
font-family:Open Sans Light Cond;
font-size: 16px;
padding: 14px 0px 13px 15px;  
margin: 0px 0px 0px 0px; 
background: none; 
display:block;
text-decoration:none;
}








#footer
{
	position:absolute;
	text-align:center;
	top:688px;
	left:0px;
	z-index:4;
	width:1024px;
}
#footer p
{
	color: #777;
font-family:Helvetica;
font-size: 12px;
line-height:19px;
margin:0px 0px 0px 0px;
	
}
