.listmenu
{
	width: 850px; 
	text-align:center;
	margin: 20px auto 30px auto;
	padding: 0px 0px 0px 0px;
}

.listmenu .closeitem, .listmenu .openitem, .listmenu .openitems
{ 	
	height:27px;
	width: 790px;
	padding: 7px 10px 0px 10px;
	color: #555;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
	list-style:none;
	background-image: url(../images/listitembg.png);	
	background-repeat:repeat-x;
	border:#ccc solid 1px;
	cursor: pointer;
	margin: 0px auto 0px auto;
	text-align:center;
	
}

.listmenu .closeitem:hover
{ 
	
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#888888)); /* Chrome10 and Safari5.1*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#888888), color-stop(51%,#888888), color-stop(100%,#888888)); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top,  #999999,  #888888);/* Mozrilla Firefox*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#888888'); /* IE 6-9 */
	background: -o-linear-gradient(top, #999999 0%,#888888 50%,#888888 51%,#888888 100%); /* Opera+ */
	background: -ms-linear-gradient(top, #999999 0%,#888888 50%,#888888 51%,#888888 100%); /* IE 10 */
	background: linear-gradient(top, #999999 0%,#888888 50%,#888888 51%,#888888 100%); /* W3C */
	
	color: #eee;
}
.listmenu .openitem,.listmenu .openitems
{ /*CSS class for menu headers in general (expanding or not!)*/
	background:  #2d4e79;
	color: #fff;
	
}
.listmenu .openitems{
		cursor: default;
}
.listmenu ul.listcontent, .listmenu ul.listcontentopen { 
	text-align:left;
	padding: 10px 20px 10px 15px;
	width: 755px;
	background:#f1f1f1;
	border-right:#ccc solid 1px;
	border-left:#ddd solid 20px;
	margin: 0px auto 0px auto;
	overflow: auto;

}

.listmenu li{
margin-bottom: 8px; /*bottom spacing between menu items*/

}
.listmenu .photo
{
	float:right;
	width:200px;
	padding: 5px 0px 0px 0px;
}
.listmenu .profile
{
	float:left;
	width:540px;
}
.listmenu .more
{
	float:left;
	padding: 8px;
	background:  #777;
		
}
.listmenu .more a
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration:none;
	
}
#content-textbox .listmenu ul table
{
	margin: 0px 0px 0px 0px;
}
#content-textbox .listmenu ul td
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height:16px;
	font-size: 14px;
	margin:0px;
	padding:0px;
	list-style:none;
}
#content-textbox .listmenu li 
{
	list-style:none;
}
#content-textbox .listmenu li p,#content-textbox .listmenu li span
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height:20px;
	font-size: 14px;
	text-align: justify;
	color:#666;
	margin:0px; 
	padding: 0px;
	margin-bottom:8px;	
}
#content-textbox .listmenu li h5
{
	color:#f28e15;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 15px;
	text-decoration: none;
	margin: 0px;
	padding:0px;
	font-weight: none;
	display: inline-block;
	list-style:none;
}
#content-textbox .listmenu li span *
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	line-height:20px;
	font-size: 14px;
	color:#666;
}

.entry-content {font-family: Tahoma; font-size: 14px;}
