html,body 
{
	margin:0px 0px 0px 0px;
	background:url(../images/fac-icon.png) bottom right no-repeat, #EEE; 
	background-size:20%;
	background-attachment:fixed;
	text-align: center;
}
#panel-wrapper
{
	height: 100%;
	width: 20%;
	min-width:80px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:3;
	background:#d86431;
}
#panel
{
	height:100%;
	width: 20%;
	min-width:80px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
	text-align:center;
}
#panel-top
{	
	height:10%;
	background:url(../images/paneltop.png) no-repeat; 
	background-size:92%;
	background-position:center;
	margin:0px auto 10px auto;
}
#body-wrapper
{
	height:100%;
	width: 80%;
	min-width:620px;
	text-align:center;
}
#body-top
{
	height:6%;
	width:80%;
	min-height:45px;
	position:absolute;
	top:0px;
	right:0px;
	z-index:2;
	background:url(../images/bgtop.jpg) top right no-repeat; 
	background-size:100% 45px;
}
#body-top span.page-title
{
	padding: 9px 0px 10px 15px;
	display:block;
	font-family:Tahoma;
	font-size:20px;
	color:#333;
	text-align:left;
}
#body-main
{
	width:80%;
	float:right;
	position:absolute;
	top:6%;
	right:0px;
	color:#000;
	text-align:center;
}
#content-wrapper
{
	margin: 30px auto 0px auto; 
	padding:0px 40px 40px 40px;
	text-align:left;
	word-wrap: break-word;
}
#content-wrapper h1
{
	padding:0px 0px 0px 0px;
	margin:0px 0px 30px 0px;
	font-family:Tahoma;
	font-size:140%;
	font-weight:normal;
	color:#d86431;	
}
#content-wrapper h2{
	margin:0px 0px 15px 0px;
	padding:0px 0px 0px 0px;
	display:inline;
	font-family:Tahoma;
	font-size:15px;
	font-weight:normal;
	color:#d86431;
}
/*Main Menu*/

#main-menu
{
	width: 100%;
	margin: 10% auto 0px auto;
	text-align:center;
}
#main-menu ul 
{
	width:100%;
	margin:0px auto 0px auto;
	padding:0px 0px 0px 0px;
	text-align:left;
}
#main-menu ul span.section-title
{
	padding: 0% 0% 0% 8%;
	margin: 5% 0% 3% 0%;
	display:block;
	font-family:Georgia;
	font-size:90%;
	font-style:italic;
	color:#f6bfa7;
}
#main-menu ul li 
{
	position:relative;
}
#main-menu ul li a
{
	height:100%;
	width:85%;
	padding: 3% 0% 3% 15%;
	display:block;
	font-family:Tahoma;
	font-size:90%;	
	text-decoration: none;
	color:#fff;
}
#main-menu ul li a.selected
{
	background:#eee;
	color:#d86431;
}
#main-menu ul li:hover a 
{ 
 	background: #ff9a6e;
	color: #fff;
}
#main-menu ul li:hover ul, #menu ul li ul 
{
	width:80%; 
	margin: 0% 0% 0% 0%;  
	padding:0px 0px 0px 0px; 
	display:block;
	position:absolute;
	top:0px;
	left:100%;
	list-style:none;
	border: 1px #d86431 solid;
}
#main-menu ul li ul 
{
	display: none;
	text-align:left; 
}
#main-menu ul li:hover ul li 
{
	position:relative;
}
#main-menu ul li:hover ul li a 
{	
	width:92%;
	padding: 5% 0 5% 8%;
	background:#f6bfa7;
	border:none;
	color: #d86431;
}
#main-menu ul li:hover ul li a:hover 
{
	background: #ff9a6e;
	color:#fff;
}

/* Form */

#form-wrapper,#login-wrapper
{
	width:92%;
	padding:10px 15px 10px 15px;
	margin:0px auto 40px auto;
	background:#DDD;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 10px 0px #aaa;
	   -moz-box-shadow: 0px 1px 10px 0px #aaa;
	        box-shadow: 0px 1px 10px 0px #aaa;
}
#login-wrapper
{
	width:35%;
	min-width:340px;
	padding:10px 15px 5px 15px;
	
}
#form-wrapper table,#login-wrapper table
{
	margin:10px 0px 0px 0px
}
#form-wrapper td,#login-wrapper td
{
	padding:0px 20px 15px 0px;
	margin:0px 0px 0px 0px;
	vertical-align:top;
}
#form-wrapper span.label,#login-wrapper span.label{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:Tahoma;
	font-size:13px;
	font-weight:normal;
	color:#555;
	letter-spacing:1px;
}
#form-wrapper span.message,#login-wrapper span.message{
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:Tahoma;
	font-size:13px;
	font-weight:normal;
	color:#f00;
	letter-spacing:1px;
	display:block;
}
#form-wrapper input,#login-wrapper input
{	
	width:240px;
	height:25px;
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 5px 0px #bbb;
	   -moz-box-shadow: inset 0px 1px 5px 0px #bbb;
	        box-shadow: inset 0px 1px 5px 0px #bbb;
	padding:0px 5px 0px 5px;
	margin:0px 0px 0px 0px;
	font-family:Tahoma;
	color:#666;
}
#form-wrapper input.file
{	
	border:none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
#form-wrapper textarea
{	
	width:235px;
	height:70px;
	padding:5px 10px 5px 5px;
	margin:0px 0px 0px 0px;
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 5px 0px #bbb;
	   -moz-box-shadow: inset 0px 1px 5px 0px #bbb;
	        box-shadow: inset 0px 1px 5px 0px #bbb;
	font-family:Tahoma;
	color:#666;
	cursor:pointer;
}
#form-wrapper .button,#login-wrapper .button, #sliding-list .button
{	
	width:60px;
	height:30px;
	padding:0px 5px 0px 5px;
	margin:5px 20px 0px 0px;
	border:1px solid #ccc;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: inset 0px 1px 5px 0px #bbb;
	   -moz-box-shadow: inset 0px 1px 5px 0px #bbb;
	        box-shadow: inset 0px 1px 5px 0px #bbb;
	font-family:Tahoma;
	color:#666;
	text-align:center;
}
#form-wrapper .button:hover,#login-wrapper .button:hover,#sliding-list .button:hover
{	
	background:#d86431;	
	border:1px solid #aaa;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
	-webkit-transition: 0.1s ease-in-out;
	   -moz-transition: 0.1s ease-in-out;
		-ms-transition: 0.1s ease-in-out;
		 -o-transition: 0.1s ease-in-out;
		    transition: 0.1s ease-in-out;
	font-family:Tahoma;
	color:#fff;
}
#text-wrapper
{
	margin:0px 20px 0px 0px; 
	padding: 0px 0px 20px 0px;
}
#text-wrapper.half
{
	width:62%;
	float:left;

}
#text-wrapper p
{
	margin:0px 0px 10px 0px; 
	padding: 0px 0px 0px 0px;
	font-family: Tahoma;
	font-size: 14px;
	line-height:20px;
	text-align: left;
	color:#666;	
}

/*Sliding List*/

#sliding-list
{
	width: 95%; 
	text-align:center;
	margin: 25px auto 40px auto;
	padding: 0px 0px 0px 0px;

}
#sliding-list .closeitem, #sliding-list .openitem, #sliding-list .openitems
{ 	
	width: 96%;
	padding: 15px 15px 15px 15px;
	margin: 0px auto 0px auto;
	background-image: url(../images/listitembg.png);
	background-size:100% 100%;
	background-repeat:repeat-x;
	border:#ccc solid 1px;
	cursor: pointer;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	color: #555;
	text-align:center;
	list-style:none;
}
#sliding-list .closeitem:hover
{ 
	background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#888888)); /* Chrome10 and Safari5.1*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#888888), color-stop(51%,#888888), color-stop(100%,#888888)); /* Chrome,Safari4+ */
	background: -moz-linear-gradient(top,  #999999,  #888888);/* Mozrilla Firefox*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#888888'); /* IE 6-9 */
	background: -o-linear-gradient(top, #999999 0%,#888888 50%,#888888 51%,#888888 100%); /* Opera+ */
	background: -ms-linear-gradient(top, #999999 0%,#888888 50%,#888888 51%,#888888 100%); /* IE 10 */
	background: linear-gradient(top, #999999 0%,#888888 50%,#888888 51%,#888888 100%); /* W3C */
	color: #eee;
}
#sliding-list .openitem,#sliding-list .openitems
{
	background:  #d86431;
	border:1px #d86431 solid;
	color: #fff;
}
#sliding-list .openitems
{
	cursor: default;
}
#sliding-list ul.listcontent, #sliding-list ul.listcontentopen 
{ 
	width: 96%;
	padding: 15px 15px 30px 15px;
	margin: 0px auto 0px auto;
	background:#f5f5f5;
	border:#ccc solid 1px;
	overflow: auto;
	text-align:left;
	list-style:none;
}
#sliding-list ul.listcontent form 
{
	margin: 10px 0px 0px 0px;
}
#sliding-list ul.listcontent li,#sliding-list ul.listcontentopen li
{
	margin: 0px 0px 7px 0px;
	padding: 0px 0px 0px 0px;
}
#sliding-list ul.listcontent  li p,#sliding-list ul.listcontentopen li p
{
	margin:0px 0px 0px 5px; 
	padding: 0px 0px 0px 0px;
	display:inline;
	font-family: Tahoma;
	font-size: 14px;
	line-height:20px;
	text-align: left;
	color:#666;	
}
#sliding-list ul.listcontent li span.posted{
	margin:0px 0px 0px 0px; 
	padding: 0px 0px 0px 0px;
	display:inline;
	font-family: Tahoma;
	font-size: 14px;
	font-style:italic;
	line-height:20px;
	text-align: left;
	color:#999;	
}